---
layout: default
title: Applications Supporting GitLab
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-9 col-md-9"> 
        <p>
          Every applications that supports Git will work with GitLab.
          Below are some of the applications we wanted to highlight.
          File a <a href="https://gitlab.com/gitlab-com/www-gitlab-com/merge_requests?assignee_id=&label_name=&milestone_id=&scope=all&sort=newest&state=all">merge request</a>
          to add an application to the list.
          The <a href="http://doc.gitlab.com/ce/api/README.html">GitLab API</a> can be used to add integration to an application.
        </p>
        <h2>Bug Reporting</h2>
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h3>Usersnap</h3>
              <p>
               <a href="https://usersnap.com/gitlab"><img src="../images/applications/usersnap.png" alt="Usersnap" width="128" border=0/></a><br>
              Add annotated screenshots to every issue in GitLab. A picture paints a thousand words, so reproducing the bug gets as simple as possible.
              </p>
              <p><a href="https://usersnap.com/gitlab">www.usersnap.com</a></p>
            </div>
          </div>
        </div>
        <h2>CMS Plugins</h2>
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h3>Drupal</h3>
              <p>
            Connect your Drupal site to a GitLab instance using web services.<br><br>
This is purely an API module. You should only enable it if another module requires it or if you want to build code against this API.
              </p>
              <p><a href="https://www.drupal.org/project/gitlab">www.drupal.org</a></p>
            </div>
            <div class="col-sm-12 col-md-4">
              <h3>Dropfort</h3>
              <p>
              Dropfort helps you to organize your Drupal projects and manage your sites in one simple interface.
              </p>
              <p><a href="http://dropfort.com">www.dropfort.com</a></p>
            </div>
          </div>
        </div>
        <h2>Desktop clients</h2>
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h3>All GUI Clients</h3>
              <p>
              All Git GUI Clients from all companies are compatible with GitLab.
              </p>
              <p><a href="http://git-scm.com/downloads/guis">http://git-scm.com/downloads/guis</a></p>
            </div>
            <div class="col-sm-12 col-md-4">
              <h3>Git Tower</h3>
              <p>
              Easy version control in a beautiful, efficient, and powerful app for Mac OS X.
              </p>
              <p><a href="http://www.git-tower.com/">www.git-tower.com</a></p>
            </div>
            <div class="col-sm-12 col-md-4">
              <h3>Eclipse</h3>
              <p>
              Eclipse has the Egit Team provider that also supports GitLab.
              </p>
              <p><a href="http://www.eclipse.org/egit/">http://www.eclipse.org/egit/</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
