---
layout: default
title: Services
---

<div id="content" class="txt-middle">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <a href="/subscription/"><h2>Subscription</h2></a>
        <p>Support and access to GitLab Enterprise Edition</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/consultancy/"><h2>Consultancy</h2></a>
        <p>Upgrade or install GitLab</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/development/"><h2>Development</h2></a>
        <p>Add a new feature to GitLab</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/training/"><h2>Training</h2></a>
        <p>Git training workshop</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/gitlab-com/"><h2>GitLab.com</h2></a>
        <p>GitLab as a free service</p>
      </div>
    </div>
  </div>
</div>
