---
layout: default
title: Team
---

<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-9 col-md-9"> 
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h3>Team</h3>
              <p>
              To offer the best possible services our team has a deep expertise in GitLab in all of its aspects.
              The GitLab B.V. team consists of the following individuals:
              </p>
              <p>
              </p><h3>Dmitriy Zaporozhets</h3>
              <h4>co-founder, CTO</h4>
              <p></p>
              <p><img src="../images/team/picture_dmitriy.png" alt="gitlab.com"></p>                    
              <p>Dmitriy started GitLab in september 2011 and has released it every month on the 22nd since then. 
              He wanted to make a great and free project management system that he could use every day. 
              He loved to work on GitLab so much that in January of 2013 he began to work on GitLab fulltime.
              When he has time he loves to code a major new GitLab feature in two days. 
              He loves a good Martini and a merge request that can be accepted without comments.
              He is the lead author of GitLab CE and CI.
              </p>
              <p>&nbsp;</p>
              <p></p><h3>Sytse Sijbrandij</h3><h4>co-founder, CEO</h4><p></p>
              <p><img src="../images/team/picture_sytse.png" alt="gitlab.com"></p>                    
              <p>
              Sytse saw the first ruby code in 2007 and loved it so much he dove head first into programming. 
              Before that he was engaged in business administration roles and combining that with software development is his passion. 
              He is always looking to make a template out of something or to automate a process. 
              His team members suspect he has todo list and reminders for everything, including breakfast and getting his hair cut. 
              He loves a good beer and organizing a trip to a conference.
              He is part of the GitLab core-team.
              </p>
              <p>&nbsp;</p>
              <p></p><h3>Marin Jankovski</h3><h4>senior developer</h4><p></p>
              <p><img src="../images/team/picture_marin.png" alt="gitlab.com"></p>                          
              <p>Marin loves to develop in Rails but has also grown an interest in operations, specifically Amazon Web Services and Opscode Chef. 
              He is part of the GitLab core-team.
              When video conferencing with him you get a cat running accross the room as a bonus. 
              He is notorious for starting early in the morning just after breakfast and not having lunch until his workday is over. 
              You would expect him to be hungry and grumpy the last few hours but as long as his internet connection is up he is always friendly and upbeat. 
              He loves travelling and talking about politics.</p>
              <p>&nbsp;</p>
              <p></p><h3>Jacob Vosmaer</h3><h4>senior service engineer</h4><p></p>
              <p><img src="../images/team/picture_jacob.png" alt="gitlab.com"></p>
              <p>
              Jacob became a professional software developer in 2012 after a brief academic career which included obtaining a PhD in mathematics. 
              Motivated by his own experiences switching careers he has been helping others do the same, for instance by coaching at RailsGirls events. 
              Today he is excited to be working on open source software and helping organisations around the world collaborate better using Git and GitLab.
              He is part of the GitLab core-team.
              </p>
              <p>
              <a href="../downloads/182BAD96.asc">Jacob's PGP public key</a>
              </p>
              <p></p><h3>Marc Radulescu</h3><h4>account manager</h4><p></p>
              <p><img src="../images/team/picture_marc.png" alt="gitlab.com"></p>
              <p>
              Marc worked as pricing specialist for HP in Bucharest before moving to the Netherlands for a Masters' course in Business Information Management. He is now happy to put his business training to good use in a developers' environment. When not helping out our customers, Marc is busy cooking, trying out cocktail recipes and watching Starcraft 2 streams.
              </p>
              <p>&nbsp;</p>
              <p></p><h3>Job van der Voort</h3><h4>junior service engineer</h4><p></p>
              <p><img src="../images/team/picture_job.png" alt="gitlab.com"></p>
              <p>
              Job became deeply passionate for software engineering while working in neuroscience and becoming increasingly frustrated with the lack of version control in science. At the end of 2012 he decided to make the jump and start to work as a software developer fulltime. He's very excited to be back in a lab that is all about version control and beautiful code.
              Besides code, Job has an obsession for design and entrepreneurship and loves to play videogames of any kind.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
